{% extends 'layout.html' %}
{% load django_bootstrap5 %}

{% block title %}
Checkout
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3>Order Summary</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart.cartitem_set.all %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>Rs. {{ item.product.price }}</td>
                <td>Rs. {{ item.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Total: Rs. {{ total_price }}</h4>
    
    <br><hr><br>

    <h2>Checkout</h2>
    {% if total_price != 0 %}
        <form action="{% url "users:checkout" %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success">Place Order</button>
        </form>
    {% else %}
        <form action="{% url "users:checkout" %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success disabled">Place Order</button>
        </form>
    {% endif %}
    <br><br><br>
</div>
{% endblock %}
