{% extends 'layout.html' %}

{% block title %}
    Order # {{ order.id }} Detail
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Order # {{ order.id }} Detail</h2>
    {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.orderitem_set.all %}
            <tr>
                <td>
                    <a href="{% url 'products:detail' item.product.id %}" class="link-primary">
                        {{ item.product.name }}
                    </a>
                </td>
                <td>
                    {{ item.quantity }}
                </td>
                <td>Rs. {{ item.product.price }}</td>
                <td>Rs. {{ item.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Total: Rs. {{ order.total_price }}</h4>
</div>
{% endblock %}
