{% extends "layout.html" %}
{% load django_bootstrap5 %}

{% block title %}
Search - {{ search_query }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h5>Categories</h5>
            <ul class="list-group">
                <li style="background-color: #e6e6e6" class="list-group-item {% if not selected_category %}active{% endif %}">
                    <a style="color: green;" href="{% url 'products:products-listing' %}">All</a>
                </li>
                <li style="background-color: #e6e6e6" class="list-group-item {% if selected_category == 'Home and Lifestyle' %}active{% endif %}">
                    <a style="color: green;" href="{% url 'products:products-listing' %}?category=Home and Lifestyle">Home & Lifestyle</a>
                </li>
                <li style="background-color: #e6e6e6" class="list-group-item {% if selected_category == 'Electronic Devices' %}active{% endif %}">
                    <a style="color: green;" href="{% url 'products:products-listing' %}?category=Electronic Devices">Electronic Devices</a>
                </li>
                <li style="background-color: #e6e6e6" class="list-group-item {% if selected_category == 'Home Appliances' %}active{% endif %}">
                    <a style="color: green;" href="{% url 'products:products-listing' %}?category=Home Appliances">Home Appliances</a>
                </li>
                <li style="background-color: #e6e6e6" class="list-group-item {% if selected_category == 'Sports and Outdoor' %}active{% endif %}">
                    <a style="color: green;" href="{% url 'products:products-listing' %}?category=Sports and Outdoor">Sports & Outdoor</a>
                </li>
                <li style="background-color: #e6e6e6" class="list-group-item {% if selected_category == 'Men Fashion' %}active{% endif %}">
                    <a style="color: green;" href="{% url 'products:products-listing' %}?category=Men Fashion">Men’s Fashion</a>
                </li>
            </ul>
        </div>

        <div class="col-md-9">
            <h4>Search Results for <mark>{{ search_query }}</mark></h4>
            <div class="row">
                {% for product in search_results %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <a href="{% url 'products:detail' product.id %}">
                            <img 
                                class="card-img-top"
                                src="{{ product.image.url }}" 
                                alt="{{ product.name }}"
                                style="height: 300px; object-fit: cover;"
                            >
                        </a>
                        <div class="card-body">
                            <a href="{% url 'products:detail' product.id %}">
                                <h5 class="card-title">{{ product.name }}</h5>
                            </a>
                            <p class="card-text">Rs. {{ product.price }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
